body{
  font-family: 'Lato', sans-serif;
  

}

header{
  width: 100%;
  height: 120px;
  position: fixed;
  background-color:black;
  color: white;

}

header h1{
  background: url(../image/p-image.png) no-repeat;
  text-indent: -9999px;
  float: left;
  width: 320px;
  height: 80px;

}
header nav{
  float: right;
  margin-right: 100px;
  margin-top: 20px;

}
header nav li a{
 text-decoration: none;
}

.divcontinue {
  text-decoration: none;
}
.divcontent{
  text-align: justify;

}
header nav li
{
 display: inline;
 padding-left: 20px;

 list-style: none;
}


.hero img
{
  margin-top: 100px;
  width: 100%;
  height: 600px;
}
.main
{

  margin-top: 50px;

}
.main img{
  height: 194px;
  width: 280px;
}
.section{
  margin-top: 30px;
}




.main2 img{
 margin-top: 200px;
 height: 194px;
 width: 280px;

}
.main2  a{
  text-decoration: none;
}

.main3  a{
  text-decoration: none;
}

.main3 img{
  margin-top:40px;
  height: 194px;
  width: 280px;
  
}



footer{
  background-color: black;
  color: white;
  font-size:50px;
  height: 100px;

}


.section-left{
  margin-top: 20px;
  height: 450px;
  width: 450px;
  text-align: justify;
}

.section1 img{

  margin-top: 25px;
  height: 130px;
  width: 450px;


}
.section2 img{
  
  height: 130px;
  width: 450px;
  padding-top: 20px;

}
.section3 img{
  
  height: 130px;
  width:450px;
  padding-top: 20px;
}



























